:root {
    /*colors*/
    --color-blue: #418de3;
    --color-pink: #c6408a;
    --color-yellow: #ffde59;
    --color-darkblue: #2f3b69;
    --color-gray: #dfd9d9;

    /*Fonts*/
    --font-pixel: 'Pixelify Sans', sans-serif;
    --font-playful: 'Gloria Hallelujah', Arial, sans-serif;
    --font-body: 'Sniglet', Arial, sans-serif;
}